#_L_BIND_STREAM *// wasma stream cagrilarina entegre olur
io_section _run_user_appconfig ip_secondlevel = no trueconfig = yes promise_endlevel /usr/bin/appconfig *// app onceden configure eden cagri icin promise_level onceden erisim basina dusen request ip_secondlevel istek basina dusen ip rater
$BIND_STREAM io_by_ctl = config.promise.maxlevel = 10 *// istek basina cagiri sinirlamalasi onceden belirlelenmis ama ipsecond level cakismaz cunku conf basina uygulama basina dusen reload onceden temsil eder
$BIND_STREAM io_by_ctl = config.ip.secondlightinglevel = 20 *rate_fn {
enequal_ip ("127.0.0.1") *// disinda kalan ipler yani rate fn uygulanmiycak limit yok
ensetdb_reg ("99.25.43.11") *// db alani icin kullanilan rate limit basina sinirlama icin kullanilan ip
ip_prof = highlevel lighthing _array *U bind consexcept *ptr /usr/bin/profctl --highlevel _IP_ ; reg_limit U_limit _Ptr_limit constptr_LIMIT *// bu ornektede ip basina istek kullanima basina limit var limit yerine unlimit limitsiz simit yani second basina limit belirtmekte munkun eger highlevel yerine *no level diye ayarlarsiniz custom satiri ekleyerek custom ipprof yapabilirsiniz veya herhangi bir prof veya lowlevel_limit ayarlarsaniz ptr kullanimi diger seyleride kendiniz ayarlarlayabilirsiniz

daha fazlasi icin:https://wiki.azccriminal.space/wasma.html
